.modal-confirm-dialog-modal
	width 450px
	.confirm-dialog
		padding-bottom 12px
		.title
			padding-left 8px
			margin-bottom 20px
			font-size 18px
			line-height 40px
			border-bottom 1px solid #000
		.con
			padding-left 12px
			margin-bottom 20px
		.btn-box
			padding-left 12px
			a
				display inline-block
				padding 0 16px
				font-size 12px
				line-height 32px
				cursor pointer
			a:hover
				text-decoration none
			.sure
				color #fff
				border 1px solid #00c1de
				background #00c1de
			.refuse
				color #303030
				border 1px solid #ccc
				background #fafafa