<section class="article-home-wrap">
  <div class="banner">
    <h2>Record anything you want record!</h2>
    <p ng-if="!vm.ifJoin">
      <a href="/users/register">注册</a>
      <a href="/users/login">登录</a>
    </p>
    <p ng-if="vm.ifJoin">
      Welcome back!
    </p>
  </div>
  <div class="hot-articles">
    <h3>热门文章</h3>
    <p class="article-all">
      <a href="/article/all">查看全部</a>
    </p>
    <div class="hot-articles-box">
      <dl ng-repeat="val in vm.articles | limitTo : 6">
        <dt>
          <img ng-src="{{val.img}}" alt="">
        </dt>
        <dd>
          <p class="header">
            <a ng-href="/article/{{val.id}}"
               class="m-overflow-ellipsis title">{{val.title}}</a>
          </p>
          <p class="summary">{{val.summary}}</p>
          <p class="updated-at">{{val.updatedAt | date: 'yyyy-MM-dd'}}</p>
        </dd>
      </dl>
    </div>
  </div>
</section>