body
  margin 0
  padding 0
  h1, h2, h3, h4, h5, h6, p, dl, dd, dt, ol, li, ul
    margin 0
  a
    text-decoration none

.m-overflow-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.m-nav
  height 60px
  display flex
  justify-content space-between
  padding 0 50px
  background #000
  a
    padding 0 10px
    font-size 24px
    line-height 60px
    color #fff
    cursor pointer
  .nav-box
    flex 1
    a
      margin 0 5px
      border-bottom 2px solid transparent
    a:hover
      color #00c1d1
      border-bottom 2px solid #00c1de