<section class="user-detail">
  <div class="user-info">
    <p class="profile-photo">
      <img ng-src="{{vm.userMsg.profilePhoto ? vm.userMsg.profilePhoto : 'https://img.alicdn.com/tfs/TB1uUyHGXzqK1RjSZSgXXcpAVXa-1600-899.jpg'}}"
        alt=""
        ngf-select="vm.uploadPhoto($files, $invalidFiles)"
        ngf-accept="'image/png,image/gif,image/jpg,image/jpeg,image/PNG,image/GIF,image/JPG,image/JPEG'"
        ngf-max-size="3.5MB"
        ngf-pattern="'image/png,image/gif,image/jpg,image/jpeg,image/PNG,image/GIF,image/JPG,image/JPEG'">
    </p>
    <div class="introduction">
      <p>{{vm.userMsg.username}}</p>
      <p>
        <span>文章数：{{vm.userMsg.articleNum}}</span>
        <span>关注数：</span>
        <span>粉丝数：</span>
      </p>
    </div>
  </div>
  <div class="user-detail-content">
    <ul class="navs">
      <li class="header">个人主页</li>
      <li ng-repeat="nav in vm.navs" class="nav"
        ng-class="{'active': vm.navNum === $index}"
        ng-click="vm.navNum = $index">{{nav.name}}</li>
    </ul>
    <div class="content">
      <div ng-if="vm.navNum === 0" class="article-list">
        <p class="title">文章列表</p>
        <div ng-if="vm.articles.length !== 0">
          <a ng-href="/article/{{article.id}}" ng-repeat="article in vm.articles"
            class="article">
            <dl>
              <dt>
                <img ng-src="{{article.img}}" alt="">
              </dt>
              <dd>
                <p class="article-header">
                  <span class="article-title m-overflow-ellipsis">{{article.title}}</span>
                  <span class="updated-at">{{article.updatedAt | date : 'yyyy-MM-dd'}}</span>
                </p>
                <p class="article-summary">{{article.summary}}</p>
              </dd>
            </dl>
          </a>
        </div>
        <div ng-if="vm.articles.length === 0" class="no-data">
          您还没有发表过文章
        </div>
      </div>
      <div ng-if="vm.navNum === 1">1111111111</div>
    </div>
  </div>
</section>