<section class="article-add-wrap">
  <form name="article">
    <p class="article-block">
      <label for="title">标题：</label>
      <input type="text" name="title" id="title" autocomplete="off"
        ng-model="vm.article.title" required>
    </p>
    <p class="article-block">
      <label for="summary">内容：</label>
      <textarea name="summary" id="summary" cols="30" rows="10" autocomplete="off"
        ng-model="vm.article.summary" required></textarea>
    </p>
    <p class="article-block">
      <label for="link">参考链接：</label>
      <input type="text" name="link" id="link" autocomplete="off"
        ng-model="vm.article.link" required>
    </p>
    <p class="article-block">
      <label for="img">配图：</label>
      <input type="text" name="img" id="img" autocomplete="off"
        ng-model="vm.article.img" required>
    </p>
    <button ng-click="vm.add()" ng-disabled="article.$invalid">提交</button>
  </form>
</section>