<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数字编码</title>
    <style>
        ul, li, ol {
            list-style: none;
        }
        ul, form .box {
            width: 1000px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
        ul li, div {
            width: 25%;
        }
        .key {
            display: inline-block;
            width: 80px;
            text-align: center;
            flex-shrink: 0;
        }
        .error {
            border: 1px solid red;
        }
    </style>
</head>
<body ng-app='myApp'>
    <div ng-controller="Sss">
        <span ng-click="start()">开始</span>
        <ul ng-show="ifShow">
            <li ng-repeat="(key, val) in allWords">
                <span class="key">{{key}}</span>
                <span>{{key | numToWord}}</span>
            </li>
        </ul>
        <form ng-show="!ifShow && ifNum">
            <span class="key" ng-repeat="(key, val) in allWords" ng-show="$index === choiceIndex">{{key}}</span>
            <input type="text" ng-model="answerWord" ng-keyup="myKeyup($event)" id="inputOne" autocomplete="off">
            <span ng-click="submit(choiceIndex)">确定</span>
        </form>
        <form ng-show="!ifShow && !ifNum">
            <span class="key" ng-repeat="(key, val) in allWords" ng-show="$index === choiceIndex">{{val}}</span>
            <input type="text" ng-model="answerWord" ng-keyup="myKeyup($event)" id="inputTwo" autocomplete="off">
            <span ng-click="submit(choiceIndex)">确定</span>
        </form>
    </div>
</body>
</html>
<script src="https://cdn.bootcss.com/angular.js/1.6.10/angular.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
  (function () {
		angular.module('myApp', [])
            .controller('Sss', Sss)
            .filter('numToWord', numToWord);
		Sss.$inject = ['$scope'];
		function Sss($scope) {
			$scope.ifShow = true;
			$scope.answerWord = '';
            $scope.allWords = {
                '0': '鸡蛋',
                '1': '蜡烛',
                '2': '鸭子',
                '3': '耳朵',
                '4': '帆船',
                '5': '称钩',
                '6': '勺子',
                '7': '镰刀',
                '8': '葫芦',
                '9': '口哨',
                '10': '棒球',
                '11': '梯子',
                '12': '婴儿',
                '13': '医生',
                '14': '钥匙',
                '15': '鹦鹉',
                '16': '石榴',
                '17': '仪器',
                '18': '腰包',
                '19': '衣钩',
                '20': '香烟',
                '21': '鳄鱼',
                '22': '双胞胎',
                '23': '和尚',
                '24': '闹钟',
                '25': '二胡',
                '26': '河流',
                '27': '耳机',
                '28': '恶霸',
                '29': '饿囚',
                '30': '三轮车',
                '31': '鲨鱼',
                '32': '扇儿',
                '33': '星星',
                '34': '三毛',
                '35': '山虎',
                '36': '山鹿',
                '37': '山鸡',
                '38': '妇女',
                '39': '三角尺',
                '40': '司令',
                '41': '蜥蜴',
                '42': '柿儿',
                '43': '石山',
                '44': '蛇',
                '45': '师傅',
                '46': '饲料',
                '47': '司机',
                '48': '石板',
                '49': '湿狗',
                '50': '武林盟主',
                '51': '工人',
                '52': '鼓儿',
                '53': '乌纱帽',
                '54': '巫师',
                '55': '火车',
                '56': '蜗牛',
                '57': '武器',
                '58': '尾巴',
                '59': '蜈蚣',
                '60': '榴莲',
                '61': '儿童',
                '62': '牛儿',
                '63': '流沙',
                '64': '螺丝',
                '65': '尿壶',
                '66': '溜溜球',
                '67': '油漆',
                '68': '喇叭',
                '69': '八卦',
                '70': '冰淇淋',
                '71': '鸡翼',
                '72': '企鹅',
                '73': '花旗参',
                '74': '骑士',
                '75': '起舞',
                '76': '汽油',
                '77': '机器人',
                '78': '青蛙',
                '79': '气球',
                '80': '巴黎',
                '81': '白蚁',
                '82': '靶儿',
                '83': '芭蕉扇',
                '84': '巴士',
                '85': '宝物',
                '86': '八路',
                '87': '白棋',
                '88': '爸爸',
                '89': '芭蕉',
                '90': '酒瓶',
                '91': '球衣',
                '92': '球儿',
                '93': '旧伞',
                '94': '首饰',
                '95': '酒壶',
                '96': '旧炉',
                '97': '酒器',
                '98': '球拍',
                '99': '舅舅',
                '00': '望远镜',
                '01': '小树',
                '02': '铃儿',
                '03': '凳子',
                '04': '轿车',
                '05': '手套',
                '06': '手枪',
                '07': '锄头',
                '08': '溜冰鞋',
                '09': '猫'
            };
            $scope.allWordsReset = [];
            for (var i in $scope.allWords) {
            	$scope.allWordsReset.push({
                  key: i,
                  value: $scope.allWords[i]
                })
            }
			$scope.start = function () {
                $scope.ifShow = false;
                $scope.choiceIndex = Math.floor(Math.random() * 110);
                $scope.ifNum = Math.floor(Math.random() * 2) === 0 ? true : false;
                $('#inputOne')[0].focus();
                $('#inputTwo')[0].focus();
            };
            $scope.myKeyup = function(e){
                var keycode = window.event ? e.keyCode : e.which;
                if(keycode==13){
                    $scope.submit($scope.choiceIndex);
                }
            };
            $scope.submit = function (index) {
            	var num = +index > 99 ? '0' + (+index - 100) : +index;
            	if ($scope.ifNum) {
                    if ($scope.answerWord === $scope.allWords[num]) {
                        alert('恭喜你，答对啦');
                        $scope.answerWord = '';
                        $scope.start();
                    } else {
                        alert('很遗憾，答错了；正确答案为：' + $scope.allWords[num]);
                        $scope.answerWord = '';
                        $scope.ifShow = true;
                    }
                } else {
                    if ($scope.answerWord === $scope.allWordsReset[index].key) {
                        alert('恭喜你，答对啦');
                        $scope.answerWord = '';
                        $scope.start();
                    } else {
                        alert('很遗憾，答错了；正确答案为：' + $scope.allWordsReset[index].key);
                        $scope.answerWord = '';
                        $scope.ifShow = true;
                    }
                }
            };
		}
		function numToWord () {
            return numToWordFilter;
            //////////////////////////////////////////////////
            function numToWordFilter (num) {
                var status = {
                    '0': '鸡蛋',
                    '1': '蜡烛',
                    '2': '鸭子',
                    '3': '耳朵',
                    '4': '帆船',
                    '5': '称钩',
                    '6': '勺子',
                    '7': '镰刀',
                    '8': '葫芦',
                    '9': '口哨',
                    '10': '棒球',
                    '11': '梯子',
                    '12': '婴儿',
                    '13': '医生',
                    '14': '钥匙',
                    '15': '鹦鹉',
                    '16': '石榴',
                    '17': '仪器',
                    '18': '腰包',
                    '19': '衣钩',
                    '20': '香烟',
                    '21': '鳄鱼',
                    '22': '双胞胎',
                    '23': '和尚',
                    '24': '闹钟',
                    '25': '二胡',
                    '26': '河流',
                    '27': '耳机',
                    '28': '恶霸',
                    '29': '饿囚',
                    '30': '三轮车',
                    '31': '鲨鱼',
                    '32': '扇儿',
                    '33': '星星',
                    '34': '三毛',
                    '35': '山虎',
                    '36': '山鹿',
                    '37': '山鸡',
                    '38': '妇女',
                    '39': '三角尺',
                    '40': '司令',
                    '41': '蜥蜴',
                    '42': '柿儿',
                    '43': '石山',
                    '44': '蛇',
                    '45': '师傅',
                    '46': '饲料',
                    '47': '司机',
                    '48': '石板',
                    '49': '湿狗',
                    '50': '武林盟主',
                    '51': '工人',
                    '52': '鼓儿',
                    '53': '乌纱帽',
                    '54': '巫师',
                    '55': '火车',
                    '56': '蜗牛',
                    '57': '武器',
                    '58': '尾巴',
                    '59': '蜈蚣',
                    '60': '榴莲',
                    '61': '儿童',
                    '62': '牛儿',
                    '63': '流沙',
                    '64': '螺丝',
                    '65': '尿壶',
                    '66': '溜溜球',
                    '67': '油漆',
                    '68': '喇叭',
                    '69': '八卦',
                    '70': '冰淇淋',
                    '71': '鸡翼',
                    '72': '企鹅',
                    '73': '花旗参',
                    '74': '骑士',
                    '75': '起舞',
                    '76': '汽油',
                    '77': '机器人',
                    '78': '青蛙',
                    '79': '气球',
                    '80': '巴黎',
                    '81': '白蚁',
                    '82': '靶儿',
                    '83': '芭蕉扇',
                    '84': '巴士',
                    '85': '宝物',
                    '86': '八路',
                    '87': '白棋',
                    '88': '爸爸',
                    '89': '芭蕉',
                    '90': '酒瓶',
                    '91': '球衣',
                    '92': '球儿',
                    '93': '旧伞',
                    '94': '首饰',
                    '95': '酒壶',
                    '96': '旧炉',
                    '97': '酒器',
                    '98': '球拍',
                    '99': '舅舅',
                    '00': '望远镜',
                    '01': '小树',
                    '02': '铃儿',
                    '03': '凳子',
                    '04': '轿车',
                    '05': '手套',
                    '06': '手枪',
                    '07': '锄头',
                    '08': '溜冰鞋',
                    '09': '猫'
                };
                var result = status[num];
                return result;
            }
        }
	})();
</script>