.article-add-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.article-add-wrap form {
  display: flex;
  flex-direction: column;
}
.article-add-wrap form .article-block {
  display: flex;
  margin-bottom: 20px;
}
.article-add-wrap form .article-block label {
  width: 100px;
  flex-shrink: 0;
}
.article-add-wrap form .article-block input,
.article-add-wrap form .article-block textarea {
  flex: 1;
}
.article-add-wrap form textarea {
  resize: none;
}
.article-add-wrap form button {
  width: 80px;
}
