.article-home-wrap .banner {
  box-sizing: border-box;
  height: 300px;
  padding: 80px 50px 0;
  margin-bottom: 30px;
  background: url("../content/banner.jpg") no-repeat center;
}
.article-home-wrap .banner h2 {
  margin-bottom: 70px;
  text-align: center;
  font-size: 36px;
  color: #2f4f4f;
}
.article-home-wrap .banner p {
  display: flex;
  justify-content: center;
}
.article-home-wrap .banner p a {
  margin: 0 10px;
  font-size: 20px;
  color: #789;
}
.article-home-wrap .banner p a:hover {
  color: #00c1de;
}
.article-home-wrap .hot-articles {
  padding: 0 50px;
}
.article-home-wrap .hot-articles h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.article-home-wrap .hot-articles .article-all {
  margin-bottom: 10px;
  text-align: center;
}
.article-home-wrap .hot-articles .hot-articles-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.article-home-wrap .hot-articles .hot-articles-box dl {
  display: flex;
  width: 30%;
  margin-bottom: 8px;
  padding: 5px;
  background: #eee;
}
.article-home-wrap .hot-articles .hot-articles-box dl dt {
  margin-right: 10px;
}
.article-home-wrap .hot-articles .hot-articles-box dl dt img {
  width: 160px;
  height: 90px;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .header a {
  font-size: 14px;
  color: #000;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .header a:hover {
  color: #00c1de;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .header .title {
  flex: 1;
  margin-right: 8px;
  font-size: 16px;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .summary {
  height: 48px;
  font-size: 12px;
  line-height: 16px;
  color: #222;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 5px;
}
.article-home-wrap .hot-articles .hot-articles-box dl dd .updated-at {
  font-size: 12px;
  text-align: right;
  color: #666;
  align-content: flex-end;
}
